@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: brown;
  display: flex;
  justify-content: center;
}

.container {
  width: fit-content;
  height: fit-content;
  position: absolute;
  inset: 0 0 0 0;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 20px 0 black;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.container img {
  width: 3rem;
  height: 3rem;
  opacity: 0.2;
  margin: 0 5px;
}

a {
  text-decoration: none;
  width: 10rem;
  font-size: 1rem;
  color: red;
  background: gold;
  border-radius: 10px;
  padding: 8px 15px;
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
